/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 700px;
    height: 400px;
    margin: auto;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_box{
    background-color: blue;
    width: 500px;
    height: 250px;
    text-align: center;
    position: relative;
}
.item{
    width: 500px;
    height: 250px;
    background-color: green;
    border: 5px solid red;
    /* display: none; */
}
/* .myButton{
    position: absolute;
} */
.myButtonTop{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
}
.myButtonBut{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
}